<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/id2203-ass0-start/src/main/java/se/kth/ict/id2203/pa/start/AutomaticCorrection.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="se.kth.ict.id2203.pa.start.AutomaticCorrection"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="id2203-ass0-start"/>
</launchConfiguration>
